body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.quiz-container, .menu-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.lista-de-preguntas {
    /* margin-bottom: 20px; */
}

a.back-button {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007bff;
    /* align to left */
    text-align: left;
}

.pregunta-item {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    color: gray;
}
.input-respuesta {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.teclado-respuestas {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
    justify-content: center;
}
.teclado-tecla {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.3rem;
    min-width: 3rem;
    height: 3rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    white-space: nowrap;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.boton-audio {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.boton-audio--esconder {
    display: none;
}

.respuesta-correcta {
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.pregunta-item--actual {
    border: 2px solid #007bff;
    background-color: #f0f8ff;
    font-weight: bold;
    color: black;
}
.resultado-respuesta {
    font-weight: bold;
    padding: 10px 0;
}
.resultado-respuesta.correcto {
    color: green;
}
.resultado-respuesta.incorrecto {
    color: red;
}
.resultado-respuesta.completado {
    color: blue;
}

a.boton-quiz {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a.boton-quiz--completado::after {
    content: "✅";
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
}

a.boton-quiz--completado::after {
    background: #28a745; /* green */
}

.instrucciones {
    margin: 20px 0;
    font-size: 1.1em;
    min-height: 40px;
}
